.wrapper{
    margin: 100px auto 0 auto;
    max-width: 600px;
}



.start{
    text-align:center;
}

.timer{
    position:absolute;
    top:30px;
    left:20px;
}



button{
    display:inline-block;
    margin:10px;
    border-radius:5px;
    color:white;
    background-color:black;
    width:100px;
}

button:hover{
    background-color:lightblue;
}

.choices button{
    display:block;
}

ol{
    padding-left:0px;
    max-height: 500px;
}

li{
    padding:5px;
}